<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create NoteType</title>
</head>
<body>
<h1>Create NoteType</h1>
<p>
    <a href="/noteTypes">NoteType list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-noteType}" th:object="${noteType}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{typeName}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create NoteType"></td>
        </tr>
    </table>
</form>
</body>
</html>